<div class="container ">

    <nav class="navbar ">
      <div class="main-nav flex container">
        <a href="" class="nav-link">Silvermine</a>
  
        <ul class="nav-elements justify-content-between ">
          <li class="nav-item">
            <a href="" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contact</a>
          </li>
  
        </ul>
        <div class="login-register">
          <button type="button" class="btn  login btn-lg"><a routerLink="../login">Login</a></button>
          <button type="button" class="btn register btn-lg"> <a routerLink="../register">Register</a></button>
        </div>
      </div>
    </nav>
  </div>
  <div class="details container flex">
    <div class="info-text">
      <img src="./../../assets/photo1.png" alt="" id="photo1">
    </div>
    <div class="info-text mx-2">
      <div class="details-box">
        <h2>
          What we do
          <br>
          for our customers
        </h2>
        <p >
          We empower entrepreneurs and business managers to leverage our micro services based online SaaS platforms to
          automate mundane tasks. We pursue excellence and empower our colleagues to create a delightful customer
          experience. We continually work to maintain our five star-rating by closely monitoring and measuring our success
          based on how our customers rate and review us.
        </p>
      </div>
    </div>
  </div>
  <div class="employee-dashbord flex container">
    <div class="info-text">
      <div class="details-box mx-2">
        <h2>
          Employee Performance
          <br>
          dashboard
        </h2>
        <p>
          An employee performance dashboard is a visual representation of key performance indicators (KPIs) and metrics
          related to individual and team performance within an organization. It provides a snapshot of performance data,
          allowing managers and stakeholders to quickly assess how well employees are meeting their goals and contributing
          to organizational success. Here are some components and considerations for creating an effective employee
          performance dashboard:
        </p>
      </div>
    </div>
    <div class="info-text">
      <img src="./../../assets/photo2.jpg" alt="" id="photo1">
    </div>
  </div>
  
  <div class="footer-box container">
    <footer class=" container flex">
          <div class="copyright">
            <p>
              © 2024 Silvermine Group LLC | privacy policy
            </p>
          </div>
  
          <div class="careers flex">
            <p class="careers">
              Careers
            </p>
            <p class="careers">
              Contact Us
            </p>
          </div>
  
        
    </footer>
  </div>