*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    font-family: "Exo", sans-serif;
    background-color: #d8d8d8;
  }

  .main-container{
    display:flex;
    background-color:#E5E7E9 ;
    width:100vw;
}


.side-nav{
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
   
}