<div class="register-contianer">
    <div class="conatiner2">
        <h4 class="text-center mt-3">Add New Admin / Manager</h4>

        <h5 *ngIf="registrationSuccess" class="text-success text-center">Registration successful!</h5>
        <p *ngIf="!isFormValid" class="text-danger text-center">Please Enter required fields</p>
        <p *ngIf="userExist" class="text-danger text-center">User already exist </p>

        <form [formGroup]="registrationForm" (ngSubmit)="$event.preventDefault(); submitForm()" id="registration">
            <div class="register-content">

                <label class="form-elements">
                    <input type="text" placeholder="First Name*" class="form-control" formControlName="firstName">
                    <div
                        *ngIf="registrationForm.get('firstName')?.invalid &&(registrationForm.get('firstName')?.dirty )">
                        <small class="text-danger" *ngIf="registrationForm.get('email')?.hasError('required')">This
                            field is required
                        </small>
                    </div>
                </label>

                <label class="form-elements">
                    <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName">
                </label>

                <label class="form-elements">
                    <input type="text" placeholder="email*" size="51px" class="form-control" formControlName="email">
                    <div
                        *ngIf="registrationForm.get('email')?.invalid &&(registrationForm.get('email')?.dirty )">
                        <small class="text-danger" *ngIf="registrationForm.get('email')?.hasError('required')">Email is
                            required
                        </small>
                        <small class="text-danger" *ngIf="registrationForm.get('email')?.hasError('email')">Enter corrct
                            email
                        </small>
                    </div>
                </label>

                <label class="form-elements">
                    <input type="password" placeholder="password*" id="password" size="51px" class="form-control"
                        formControlName="password">
                    <div
                        *ngIf="registrationForm.get('password')?.invalid &&(registrationForm.get('password')?.dirty )">
                        <small class="text-danger"
                            *ngIf="registrationForm.get('password')?.hasError('required')">Password is required
                        </small>
                        <small class="text-danger" *ngIf="registrationForm.get('password')?.hasError('minlength')">min
                            length of password should be 7
                        </small>
                    </div>
                </label>

                <select class="select-role text-muted " formControlName="role">
                    <option value="" disabled selected>Select Role</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="MANAGER">MANAGER</option>

                </select>

                <label>
                    <button type="submit" class="form-btn">Submit</button>

                </label>

            </div>
        </form>

    </div>
</div>