
/* src/app/login/login.component.css */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container {
    /* margin-top:300px; */
 
    min-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
 
  .form-group input{
   
    margin-bottom: 15px;
    width:300px
  }
  
  button {
    padding: 10px;
    /* background-color: #4caf50; */
    background-color: #3C8DEE;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width:300px
  }
  button:hover{
    background-color:#5DADE2 
  }
  input{
    padding:5px;
    border-radius:4px;
   
  }
  a{
    text-decoration:none;
  }

  